/* =================================
   LAYOUT / FOOTER
   ================================= */
// Lili changed footer code

// .pnl-footer {

footer {
    background-color: $colr-pnl-footer;
    height: 5em;
    margin: 0;
    width: 100%;
    color: $colr-txt;
    text-align: center; 
}
