$base-font-name: "Helvetica Arial", sans-serif;
$accent-font-name: "Open Sans", sans-serif;
$base-font-size: 1em;
$base-font-light: 100;
$h1-font-size: 1.6rem;
$h2-font-size: 1.2rem;
$smaller-font-size: 0.9rem;


