description = "Default layout"
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Pimp My Cause</title>
        <meta charset="utf-8">
        <meta name="description" content="Pimp My Cause. Marketing volunteering - pro bono marketing for charities and social enterprises - pimpmycause.org">
        <meta name="keywords" content="Marketing volunteering - pro bono marketing for charities and social enterprises - pimpmycause.org">
        <meta content="initial-scale=1, maximum-scale=1" name="viewport">
        <link rel="icon" type="image/png" href="{{ 'assets/images/october.png'|theme }}" />
        {% styles %}
        <link href="{{ [
            'assets/css/theme.css'
        ]|theme }}" rel="stylesheet">
    </head>
    <body>
        <div id="container">
            <nav>
                <ul>
                    <li>
                        <a href="http://www.pimpmycause.org">Home</a>
                    </li>               
                    <li>
                        <a href="about.html">About Us</a>
                    </li>
                    <li>
                        <a href="partners.html">Partners</a>
                    </li>
                    <li>
                        <a href="whatsnew.html">What's New</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
        {% partial "footer" %}

        <!-- Scripts -->
        <script src="{{ [
            'assets/javascript/jquery.js',
            'assets/vendor/bootstrap/js/transition.js',
            'assets/vendor/bootstrap/js/alert.js',
            'assets/vendor/bootstrap/js/button.js',
            'assets/vendor/bootstrap/js/carousel.js',
            'assets/vendor/bootstrap/js/collapse.js',
            'assets/vendor/bootstrap/js/dropdown.js',
            'assets/vendor/bootstrap/js/modal.js',
            'assets/vendor/bootstrap/js/tooltip.js',
            'assets/vendor/bootstrap/js/popover.js',
            'assets/vendor/bootstrap/js/scrollspy.js',
            'assets/vendor/bootstrap/js/tab.js',
            'assets/vendor/bootstrap/js/affix.js',
            'assets/javascript/app.js'
        ]|theme }}"></script>
        {% framework extras %}
        {% scripts %}
    </body>
</html>
