<head>
    <meta charset="utf-8">
    <title>Pimp My Cause</title>
    <meta charset="utf-8">
    <meta name="description" content="Pimp My Cause. Marketing volunteering - pro bono marketing for charities and social enterprises - pimpmycause.org">
    <meta name="keywords" content="Marketing volunteering - pro bono marketing for charities and social enterprises - pimpmycause.org">
    <meta content="initial-scale=1, maximum-scale=1" name="viewport">
    <link rel="icon" type="image/png" href="{{ 'assets/images/october.png'|theme }}" />
    {% styles %}
    <link href="{{ [
        'assets/styles/styles.css'
    ]|theme }}" rel="stylesheet">
</head>