// =================
// Global Colours
// =================

$white: #ffffff;
// 255 255 255
$purple: #3b1d4a;
// 59 29 74
$pink: #dc0e54;
// 220 14 84
$green: #809b29;
// 128 155 41
$mustard: #d7be01;
// 215 190 1
$grey: #c8c7c7;
// 200 199 199
