@import "bourbon/bourbon";
@import "partials/base";

$link-color: $black;
$padding-margin-value: 1em;
*, 
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0; 
}
html,
body {
   	margin: 0;
   	padding: 0;
   	height: 100%;
  	min-height: 100%;
    position:relative;
    background-color: $white;

}
section {
	min-height: 30em;
}

.accent-colour-1 {
	background-color: #77C7AC;
}

.accent-colour-2 {
	background-color: #D47689;
}

#container {
	//padding-bottom: $footer-height;
	background-color: $white;
}
#banner {
	min-height: 3em;
	background-color: #927F92;
}

footer {
	p {
		padding: 2em;
	}
	height: $footer-height;
	background-color: $grey;
	//position: absolute;
   	bottom: 0;
   	text-align: center;
   	vertical-align: middle;
   	width: 100%;
   	height: $footer-height;   /* Height of the footer */
}

nav {
	height: $nav-height;
	background-color: $white;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	ul {
		padding: 0;
		list-style: none;
		width: 100%;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		li {
			flex-grow: 1;
			max-width: 10em;
			width: 32%;
			min-width: 5em;
			text-align: center;
			display: inline-block;
			padding: $padding-margin-value 0;
			margin: 0 auto;
			text-align: center;
			font-size: $base-font-size;
			a {
				color: $link-color;
				text-decoration: none;
				&:visited {
					color: $link-color;
				}
			}
		}
	}
}



