<div id="banner">
    <a href="signin.html">Sign In</a>
</div>
<nav>
    <ul>
        <li>
            <a href="home.htm">Home</a>
        </li>               
        <li>
            <a href="about.html">About Us</a>
        </li>
        <li>
            <a href="find-a-cause.html">Find a Cause</a>
        </li>
        <li>
            <a href="find-a-marketer.html">Find a Marketer</a>
        </li>
        <li>
            <a href="blog.html">Blog</a>
        </li>
        <li>
            <a href="contact-us.html">Contact Us</a>
        </li>
    </ul>
</nav>