description = "Default layout"
==
<!DOCTYPE html>
<html>
    {% partial "header" %}

    <body>
        <div id="container">

            {% partial "nav" %}


            <section class="accent-colour-1">
            </section>
                   
            <section class="accent-colour-2">
            </section>
            
            <section>
            </section>
        </div>

        {% partial "footer" %}



        <!-- Scripts -->
        <script src="{{ [
            'assets/scripts/scripts.js'
        ]|theme }}"></script>
        {% framework extras %}
        {% scripts %}
    </body>
</html>
